In [1]:
import pandas as pd 
from fbprophet import Prophet
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../data/prophet/example_wp_log_peyton_manning.csv')

In [4]:
playoffs = pd.DataFrame({
  'holiday': 'playoff',
  'ds': pd.to_datetime(['2008-01-13', '2009-01-03', '2010-01-16',
                        '2010-01-24', '2010-02-07', '2011-01-08',
                        '2013-01-12', '2014-01-12', '2014-01-19',
                        '2014-02-02', '2015-01-11', '2016-01-17',
                        '2016-01-24', '2016-02-07']),
  'lower_window': 0,
  'upper_window': 1,
})
superbowls = pd.DataFrame({
  'holiday': 'superbowl',
  'ds': pd.to_datetime(['2010-02-07', '2014-02-02', '2016-02-07']),
  'lower_window': 0,
  'upper_window': 1,
})
holidays = pd.concat((playoffs, superbowls))

In [5]:
df.ds = pd.to_datetime(df.ds).apply(lambda x: int(x.timestamp() / 24 / 60 / 60 + 0.1) - 13857)
playoffs['ds'] = pd.to_datetime(playoffs['ds']).apply(lambda x: int(x.timestamp() / 24 / 60 / 60 + 0.1) - 13857)
superbowls['ds'] = pd.to_datetime(superbowls['ds']).apply(lambda x: int(x.timestamp() / 24 / 60 / 60 + 0.1) - 13857)

In [6]:
df

        ds          y
0        0   9.590761
1        1   8.519590
2        2   8.183677
3        3   8.072467
4        4   7.893572
...    ...        ...
2900  2959   7.817223
2901  2960   9.273878
2902  2961  10.333775
2903  2962   9.125871
2904  2963   8.891374

[2905 rows x 2 columns]

In [7]:
data = np.zeros((2964, 2))
data[df.ds, 0] = df.y
data[playoffs.ds[:-2], 1] = 1
data[[790, 2246], 1] = 1

In [8]:
data

array([[ 9.59076114,  0.        ],
       [ 8.51959032,  0.        ],
       [ 8.18367658,  0.        ],
       ...,
       [10.33377535,  0.        ],
       [ 9.12587122,  0.        ],
       [ 8.89137401,  0.        ]])

In [99]:
data_dir = '../data/prophet/'
if not os.path.exists(data_dir):
    os.mkdir(data_dir)
np.save(data_dir + 'with_holiday', data)